[defaults]
inventory = ./inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
gathering = smart
timeout = 60
log_path = ./logs/ansible.log
stdout_callback = yaml
deprecation_warnings = False
display_skipped_hosts = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o KexAlgorithms=+diffie-hellman-group1-sha1 -o HostKeyAlgorithms=+ssh-rsa -o Ciphers=+aes128-cbc,aes192-cbc,aes256-cbc
pipelining = True
